<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beacon.imchat.mapper.SystemMapper">
    <insert id="insertSystem">
        INSERT  into system (sys_topic, sys_name,employee_id,register_time,sys_id)
        VALUES (#{sysTopic},#{sysName},#{employeeId},#{registerTime},#{sysId})
    </insert>
    <select id="findSystemTopic" resultType="string">
        SELECT sys_id FROM system WHERE sys_name = #{sysName}
    </select>
</mapper>